/* MASTER STYLES */
*
{
    font-family: pixel-bold;
}

body
{
    background-color: black;
}

h1, h2, h3, h4, p
{
    color: white;
}

.container
{
    display: flex;
    justify-content: center;
}

/* FONTS */
@font-face
{
    font-family: pixel;
    src: url('fonts/pixel.otf');
}

@font-face
{
    font-family: pixel-bold;
    src: url('fonts/pixel-bold.otf');
}

@font-face
{
    font-family: pixel-italic;
    src: url('fonts/pixel-italic.otf');
}

@font-face
{
    font-family: pixel-bolditalic;
    src: url('fonts/pixel-bolditalic.otf');
}

/* NAV STYLES */
.nav
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title
{
    padding: 20px;

    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.nav-items
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

.nav-item
{
    color: white;
    text-transform: uppercase;
    font: bold;
    border-bottom: 2px solid transparent;

    transition: border-bottom 0.5s;
}

.nav-item a
{
    color: white;
    text-decoration: none;
}

.nav-item:hover
{
    border-bottom: 2px solid white;

    transition: border-bottom 0.5s;
}

.nav-item:hover::after
{
    animation: navHoverAnim .4s forwards .1s;
}

@keyframes navHoverAnim
{
    0% 
    {
        border-bottom: 2px solid white;
    }

    100%
    {
        border-bottom: 2px solid transparent;
    }
}

/* PROJECT ITEM STYLES */
.project-item
{
    color: white;

    text-transform: uppercase;
    font-size: 25px;
}

.project-item > a
{
    color: white;
    text-decoration: none;
}